<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Blackjack</title>
</head>
<body>
    <h1>Blackjack</h1>
    <div class="jugador-cards">
        <h2>Jugador: Toñito</h2>
        <p>Cartas: {{ jugadorCartas }}</p>
        <p>Puntaje: {{ jugadorPuntaje }}</p>
        <button onclick="window.location.href='/hit'">Pedir Carta</button>
        <button onclick="window.location.href='/stand'">Plantarse</button> <!-- Nuevo botón -->
    </div>
    <div class="ia1-cards">
        <h2>Cold-lettuce</h2>
        <p>Cartas: {{ ia1Cartas }}</p>
        <p>Puntaje: {{ ia1Puntaje }}</p>
    </div>
    <div class="ia2-cards">
        <h2>Pop-eye</h2>
        <p>Cartas: {{ ia2Cartas }}</p>
        <p>Puntaje: {{ ia2Puntaje }}</p>
    </div>
    <div class="dealer-cards">
        <h2>Dealer: Serafino</h2>
        <p>Cartas: {{ dealerCartas }}</p>
        <p>Puntaje: {{ dealerPuntaje }}</p>
    </div>

    {% if estadoJuego.finalizado %}
    <div class="mensaje-final">
        <h3>{{ estadoJuego.mensajeFinal }}</h3>
        <button onclick="window.location.href='/nuevaRonda'">Jugar de Nuevo</button> <!-- Botón para la nueva ronda -->
    </div>
    {% endif %}
    
    
</body>
</html>
